body {
  background-color: #b50000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23910b0b' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23711313' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23541717' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%233b1717' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23251515' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23130e0e' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23040404' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
* {
  scroll-behavior: auto;
}
html,
body {
  padding: 0;
  margin: 0;
}
h1 {
  width: 45rem;
  right: 2rem;
}
:root {
  --defaultfont: Verdana, Geneva, Tahoma, sans-serif;
  --navgradient: linear-gradient(90deg, rgb(30, 30, 30), rgb(100, 0, 0));
}
.me {
  transform: rotate3d(0, 30, 0, 90deg) translateZ(27.5rem);
  transform-style: preserve-3d;
}
.me_1 {
  position: relative;
  right: 7.5rem;
  transform: rotate3d(0, 0, 0, 0deg) translateZ(7.8rem) translateX(27.1rem);
  transform-style: preserve-3d;
}
.me_2 {
  position: relative;
  left: 7.5rem;
  transform: rotate3d(0, 0, 0, 0deg) translateZ(-7.8rem) translateX(-3.5rem);
  transform-style: preserve-3d;
}
.me_3 {
  transform: rotate3d(0, 30, 0, 90deg) translateZ(-3.8rem);
  transform-style: preserve-3d;
}
#rotate_me {
  transform-style: preserve-3d;
  perspective: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 85%;
  transition: transform 0.5s linear;
  transform: rotateY(0deg);
  display: flex;
  z-index: 100%;
  padding-top: 100px;
  position: relative;
  right: 30rem;
}
#rotate_me:hover {
  animation: rotate 2.5s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotateY(360deg);
  }
}
.nav {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  top: -26px;
  width: 100%;
  z-index: 100;
  margin-top: -12px;
  box-shadow: 0px 5px 25px var(--navgradient);
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: rgb(54, 0, 0);
  transition: all 1s;
  text-shadow: black 3px 3px;
}
.over:hover .nav {
  /* animation-name: nav;
        animation-duration: 10s; */
  top: 1px;
}
.nav-show {
  background-color: red;
}
@keyframes nav {
  from {
    top: 0px;
  }
  to {
    top: -1000px;
  }
}

#navbutton {
  padding: 5px;
}

#navlist {
  align-self: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #850000;
}

#navelement {
  display: inline-block;
  /* float: left; */
}

#navelement a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 1rem;
  text-decoration: none;
  font-family: var(--defaultfont);
}

.triangle-down {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid rgb(255, 255, 255);
  width: 1%;
  position: relative;
  top: -10px;
  left: 60px;
}
.triangle-down_2 {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid rgb(255, 255, 255);
  width: 1%;
  position: relative;
  top: -10px;
  left: 35px;
}
.triangle-down_3 {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid rgb(255, 255, 255);
  width: 1%;
  position: relative;
  top: -0.625rem;
  left: 2.3rem;
}
.triangle-down_4 {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid rgb(255, 255, 255);
  width: 1%;
  position: relative;
  top: -0.625rem;
  left: 3.3rem;
}
.about {
  font-size: clamp(16px, 5vw, 25px);
  color: white;
  font-family: var(--defaultfont);
  position: relative;
  left: 33rem;
  top: -20rem;
  margin: 0rem;
  padding: 0rem;
  width: clamp(45w, 5vw, 50vw);
  height: clamp(1rem, 5vw, 6rem);
}
#timer {
  margin: 0;
  position: absolute;
  bottom: 41.5vmax;
  font-family: var(--defaultfont);
  color: white;
  font-size: 30px;
}
@media only screen and (max-width: 495px) {
  body {
    margin: 0;
    padding: 0;
  }
  .about {
    position: relative;
    left: 5rem;
    top: 0rem;
    width: clamp(445px, 5vw, 480px);
    margin: 0rem;
    padding: 0rem;
  }
}

/*@media only screen and (max-width: 750px) {
  .nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 14px;
    width: 100%;
    margin-top: -30px;
    box-shadow: 0px 5px 25px var(--navgradient);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: rgb(54, 0, 0);
    text-shadow: black 3px 3px;
  }

  .nav-show {
    background-color: red;
  }

  #navbutton {
    padding: 5px;
  }

  #navlist {
    align-self: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #850000;
  }

  #navelement {
    display: inline-block;
  }

  #navelement a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: var(--defaultfont);
  }
} */
/* @media only screen and (max-width: 750px) {
  #rotate_me:hover {
    animation: none;
  }
  #rotate_me {
    position: relative;
    left: -30rem;
    display: flex;
  }
  #timer {
    margin: 0;
    position: absolute;
    bottom: 90vmax;
    font-family: var(--defaultfont);
    color: white;
    font-size: 30px;
  }
  .triangle-down {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid rgb(255, 255, 255);
    width: 1%;
    position: relative;
    top: -1vmax;
    left: 4.5vmax;
  }
  .triangle-down_2 {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid rgb(255, 255, 255);
    width: 1%;
    position: relative;
    top: -1vmax;
    left: 2.5vmax;
  }
  .triangle-down_3 {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid rgb(255, 255, 255);
    width: 1%;
    position: relative;
    top: -1vmax;
    left: 2.4vmax;
  }
  .triangle-down_4 {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid rgb(255, 255, 255);
    width: 1%;
    position: relative;
    top: -1vmax;
    left: 3.5vmax;
  }
} */

